body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0px;
    font-size: 16px;
    font-weight: 300;
    background: #202020;
    color: #333333;
}

#main {
    border-top: 8px solid #2980B9;
    padding: 3em 3em 3em 3em;
    display: inline-block;
    font-size: 1.3em;
    max-width: 800px;
    background: #FFFFFF;
}

h1,
h2 {
    margin: auto;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 4em;
}

p {
    color: #6F6F6F;
}

a {
    text-decoration: none;
    color: #2980B9;
}

a:hover {
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -ms-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear;
    color: #FFC82C
}

.uppercase {
    text-transform: uppercase;
}
