/*! github-activity - v0.1.4 - Copyright 2015 Casey Scarborough */

.gha-feed {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    color: #444444;
}

.gha-feed,
.gha-feed h2,
.gha-feed h3,
.gha-feed li,
.gha-feed p,
.gha-feed ul {
    margin: 0;
    padding: 0
}

.gha-feed ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.gha-feed li {
    list-style-type: none;
    line-height: 1.4
}

.gha-feed small {
    color: #666666;
    font-weight: 400;
    font-size: 13px
}

.gha-feed small a {
    color: #2980B9;
    font-weight: 400
}

.gha-feed small a .more-commits {
    color: #2980B9;
    font-size: 11px
}

span.gha-time {
    color: #bbb;
    font-weight: 400;
    font-size: 12px
}

.gha-feed a {
    color: #2980B9;
    text-decoration: none;
    font-weight: 400
}

.gha-feed a:hover {
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -ms-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear;
    text-decoration: none;
    color: #FFC82C
}

.gha-feed pre {
    padding: 0;
    border: 0;
    border-radius: 0;
    box-shadow: 1px 1px 4px #BBBBBB;
    color: #FFFFFF
}

.gha-header {
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 20px);
    padding: 10px;
    height: 67px;
    border-bottom: 1px solid #ddd;
    background: #FFFFFF;
}

.gha-footer {
    position: absolute;
    bottom: -1px;
    left: 1px;
    padding: 5px 5px 5px 10px;
    border-top: 1px solid #ddd;
    height: 16px;
    width: calc(100% - 15px);
    background: #FFFFFF;
    color: #495961;
    font-size: 13px
}

.gha-footer a {
    float: right;
    color: #495961;
    padding-right: 20px;
    font-size: 13px;
    font-weight: 700
}

.gha-github-icon {
    display: inline;
    float: left;
    padding: 9px 0 0;
    width: 35px;
    height: 35px;
    color: #495961
}

.gha-github-icon .octicon {
    font: normal normal 40px octicons
}

.gha-gravatar {
    display: inline;
    float: right;
    margin-right: 10px;
    padding-right: 20px;
    max-width: 60px;
    height: 67px
}

.gha-gravatar img {
    padding: 3px;
    width: 100%;
    border: 1px solid #DDDDDD;
    box-shadow: 1px 1px 3px #ccc
}

.gha-activity {
    clear: both;
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #ddd
}

.gha-activity.gha-small {
    margin-top: 5px;
    font-weight: 400;
    font-size: 13px
}

.gha-activity.gha-small a {
    font-weight: 400
}

.gha-activity.gha-small .gha-message {
    float: left;
    width: auto;
    margin-right: 5px;
    margin-top: 5px
}

.gha-activity.gha-small span {
    font-size: 16px
}

.gha-activity.gha-small .gha-time {
    float: left;
    margin-top: 6px
}

.gha-activity:last-child {
    padding-bottom: 100px
}

.gha-repo {
    clear: both;
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #ddd
}

.gha-activity-icon .octicon {
    display: inline;
    float: left;
    clear: both;
    margin: 6px auto;
    width: 50px;
    color: #BBBBBB;
    font: normal normal 30px octicons
}

.gha-activity-icon .gha-small {
    font-size: 16px
}

.gha-message {
    display: inline-block;
    float: left;
    width: calc(100% - 50px)
}

.gha-message-commits {
    font-size: 11px
}

.gha-message-merge {
    padding: 3px 7px;
    border-radius: 3px;
    background: #E8F1F6;
    color: rgba(0, 0, 0, .5);
    font-size: 12px;
    line-height: 2
}

.gha-sha {
    font-size: 12px;
    font-family: 'Source Code Pro', monospace;
    float: left;
}

.gha-gravatar-small {
    float: left;
    margin-right: 6px;
    width: 30px
    display: none;
}

.gha-gravatar-commit {
    margin-bottom: -3px;
    border-radius: 2px
}

.gha-gravatar-user {
    float: left
}

.gha-user-info {
    display: inline-block;
    float: left;
    margin: 0 auto;
    padding: 6px 10px 5px;
    color: #495961;
    font-size: 20px
}

.gha-user-info a {
    color: #495961
}

.gha-user-info a:hover {
    color: inherit;
}

.gha-user-info p a {
    font-weight: 100
}

.gha-without-name {
    padding-top: 20px;
    padding-left: 15px
}

.gha-info {
    margin: 15px;
    padding: 10px;
    border: 1px solid #E8F1F6;
    border-radius: 4px;
    background: #FFFFDE;
    color: #6D6D4B;
    font-weight: 400;
    font-size: 13px
}

.gha-time {
    color: #BBBBBB;
    font-weight: 400;
    font-size: 12px
}

.gha-clear {
    clear: both
}

.gha-muted {
    color: #666666
}

.gha-push {
    height: 87px
}

.gha-push-small {
    height: 26px
}

.gha-commits {
    float: left;
}

.gha-commits a {
    color: #2980B9;
    margin-right: 10px
}